body, html {
    background: url('noise.gif') repeat;
    height:100%;
    padding: 0;
    margin: 0;
    overflow: hidden;
    font-size:1em;
}
a { color: skyblue }

div#pageLoader {
    position: absolute;
    float:left;
    height:50px;
    width:250px;
    top:50%;
    left:50%;
    text-align: center;
    margin-left:-125px;
    margin-top:-25px;
    font-family: Charcoal, sans-serif;
    font-size: 2em;
    font-weight:bold;
}
div#container {
    height:auto !important; /* real browsers */
    height: 100%;
}

div#header {
    text-align: center;
    display: table; /* to center the header text */
    font-family: Charcoal, sans-serif;
    font-size: 2em;
    font-weight:bold;
    text-shadow: 0 4px 3px rgba(0, 0, 0, 0.4), 0 8px 10px rgba(0, 0, 0, 0.1), 0 8px 9px rgba(0, 0, 0, 0.1);
    color: #F5FFFA;
    width: 100%;
    height: 50px;
    border-bottom: solid 1px #000;
    margin:0;
    background-color: #FFFFFF;
    background-image: -webkit-linear-gradient(top, #2F2727, #929293);
    background-image:    -moz-linear-gradient(top, #2F2727, #929293);
    background-image:     -ms-linear-gradient(top, #2F2727, #929293);
    background-image:      -o-linear-gradient(top, #2F2727, #929293);
    z-index: 150;
}

div#content {
    position : absolute;
    top      : 51px;
    right    : 0;
    bottom   : 49px;
    left     : 0;
    visibility:hidden;
}
div#footer {
    position : absolute;
    bottom   : 0;
    left     : 0;
    width    : 100%;
    height   : 50px;
    display: table; /* to center the header text */
    border-top: solid 1px #000;
    background-color: #2F2727;
    background-image: -webkit-linear-gradient(bottom, #2F2727, #929293);
    background-image:    -moz-linear-gradient(bottom, #2F2727, #929293);
    background-image:     -ms-linear-gradient(bottom, #2F2727, #929293);
    background-image:      -o-linear-gradient(bottom, #2F2727, #929293);
    z-index: 150;
}

div#footer > a, div#footer > span {
    position:relative;
    display: table-cell;
    vertical-align:middle;
    font-size:1.2em;
}
div#cieLogo {
    position:relative;
    float:right;
    margin-top:5px;
    margin-right:5px;
}

.menu
{
    position:absolute;
    background: #ffffff;
    border: solid black 1px;
    font-size: 0.75em;
    width: 25em;
    height: 40em;
    z-index: 100;
}

.trigger
{
    background-color: #000;
    height: 125px;
    width: 22px;
}
.trigger-left
{
    border-top-right-radius: 6px;
    border-bottom-right-radius: 6px;
}
.trigger-right
{
    border-top-left-radius: 6px;
    border-bottom-left-radius: 6px;
}

.leftMenu
{
    padding:  1em;
    border-top-right-radius: 6px;
    border-bottom-right-radius: 6px;

}
.leftMenu .content {
    position:relative;
    margin: 0;
    padding:1em;
    border: dashed black 1px;
    height:90%;
    width: auto;

}
.leftMenu h1 { height: 5%; font-size: 1.7em; margin: 0; padding:0;}
.leftMenu .content h2 { font-size: 1.3em; margin:0; padding: 0;}
.leftMenu .content h3 { font-size: 1.2em; font-style:italic; margin:0; padding: 0;}

.sliders {
    display: table;
    width: 100%;
    margin-bottom:15px;
}
.sliders .row {
    display: table-row;
    width: 100%;
}
.sliders .cell1, .cell2, .cell3 {
    display: table-cell;
    padding: 5px;
    font-size:1.3em;

}
.sliders .cell1 {width: 70%;}
.sliders .cell2 {width: 15%;}
.sliders .cell3 {width: 15%;}
.sliders .amount {border:0; color:#f6931f; font-weight:bold; max-width:3em; width:auto;}

.rightMenu
{
    padding: 10px 0 10px 15px;
    border-top-left-radius: 6px;
    border-bottom-left-radius: 6px;
}
.rightMenu h3 { height: 5%; font-size: 1.7em; margin:0; padding: 0;}

#fileList { list-style-type: none; border: solid black 1px; margin: 0; padding: 0; width: 100%; height: 95%; overflow-y: auto;}
#fileList .ui-selecting { background: #FECA40; }
#fileList .ui-selected { background: #F39814; color: white; }
#fileList .loaded { background: #90EE90; color: black; }
#fileList li { margin-bottom: 2px; padding: 0.5em; font-size: 1.5em;  }

